.card {
    background: red;
    height: 300px;
    width: 350px;
}
.card > .img-container {
    height: 60%;
    overflow: hidden;
    background: blue;
}
.card > .img-container img {
    margin-top: 10px;
    width: 100%;
    height: 140px;
}